@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #F9F9F9;
}