@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  font-family: 'Euclid Circular A', sans-serif !important;
}